In [47]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix

%matplotlib inline

In [34]:
data = pd.read_csv("preprocessed_data.csv")

In [35]:
data.drop("gender", axis = 1, inplace = True)

data["age"] = (data["age"] - data["age"].mean()) / data["age"].std()
data["bmi"] = (data["bmi"] - data["bmi"].mean()) / data["bmi"].std()

            age  cholesterol  gluc  smoke  ...  male  female       bmi  bpc
0     -0.434055            1     1      0  ...     1       0 -1.029091    3
1      0.309478            3     1      0  ...     0       1  1.393575    4
2     -0.246045            3     1      0  ...     0       1 -0.741097    3
3     -0.746055            1     1      0  ...     1       0  0.231418    4
4     -0.806429            1     1      0  ...     0       1 -0.833929    1
...         ...          ...   ...    ...  ...   ...     ...       ...  ...
68656 -0.090855            1     1      1  ...     1       0 -0.101879    3
68657  1.271006            2     2      0  ...     0       1  4.299339    4
68658 -0.161359            3     1      0  ...     1       0  0.725482    5
68659  1.202123            1     2      0  ...     0       1 -0.069762    3
68660  0.435899            2     1      0  ...     0       1 -0.478337    3

[68661 rows x 11 columns]

In [36]:
feature_df = data[['age', 'male','female', 'bmi', 'bpc', 'cholesterol', 'gluc',
       'smoke', 'alco', 'active']]
X = np.asarray(feature_df)

data['cardio'] = data['cardio'].astype('int')
y = np.asarray(data['cardio'])

In [37]:
X_trainset, X_testset, Y_trainset, Y_testset = train_test_split(X, y, test_size=0.2)

In [38]:
print(X_trainset.shape, Y_trainset.shape) 
print(X_testset.shape, Y_trainset.shape)

(54928, 10) (54928,)
(13733, 10) (54928,)

In [42]:
mlp = MLPClassifier(hidden_layer_sizes=(50, 30, 20), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_trainset, Y_trainset)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(20, 20, 20), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [44]:
y_hat = mlp.predict(X_testset)

In [49]:
print(confusion_matrix(Y_testset,y_hat))
print(classification_report(Y_testset,y_hat))

[[5364 1618]
 [2164 4587]]
              precision    recall  f1-score   support

           0       0.71      0.77      0.74      6982
           1       0.74      0.68      0.71      6751

    accuracy                           0.72     13733
   macro avg       0.73      0.72      0.72     13733
weighted avg       0.73      0.72      0.72     13733